<!doctype html>
<html>
  <head>
    <title>{{.Title}}</title>
    {{ partial "head.html" }}
  </head>
  <body>
    {{ partial "nav.html" }}
    <main style="padding-bottom: 1rem">
      {{ range .Data.Pages }}
      <div class="content stub">
        <h2>
          <a href="{{.Permalink}}">
            {{.Title}}
          </a>
        </h2>
        <small>
          {{.Date.Format "January 2, 2006"}}
          by {{.Params.author}}
        </small>
      </div>
      {{ end }}
      <div class="content" style="margin-top: 1rem">
        <p>
          <a href="/blog/index.xml">RSS feed</a>
        </p>
        <p>
          More historical posts are available on the
          <a
            href="https://lists.sr.ht/~sircmpwn/sr.ht-announce"
            rel="noopener"
          >sr.ht-announce archives</a>.
        </p>
      </div>
    </main>
    {{ partial "footer.html" }}
  </body>
</html>
