<!doctype html>
<html>
  <head>
    <title>{{.Title}}</title>
    {{ partial "head.html" }}
  </head>
  <body>
    {{ partial "nav.html" }}
    <main>
      {{ range .Data.Pages }}
      <div class="content stub">
        <h2>
          <a href="{{.Permalink}}">
            {{.Title}}
          </a>
        </h2>
        <small>
          {{.Date.Format "January 2, 2006"}}
          by {{.Params.author}}
        </small>
      </div>
      {{ end }}
      <article class="content">
      </article>
    </main>
    {{ partial "footer.html" }}
  </body>
</html>
