<!doctype html>
<html>
  <head>
    <title>{{.Title}}</title>
    {{ partial "head.html" }}
  </head>
  <body>
    {{ partial "nav.html" }}
    <main>
      <header>
        <div class="heading">
          <div class="info">
            <div class="content">
              {{.Date.Format "January 2, 2006"}}
              by {{.Params.author}}
            </div>
          </div>
          <div class="content">
            <h1>
              {{.Title}}
            </h1>
          </div>
        </div>
      </header>
      <article class="content">
        {{.Content}}
      </article>
      <div class="next-prev">
        <div class="prev">
          {{ if .Prev }}
          <a href="{{ .Prev.Permalink }}?ref=footer">« {{ .Prev.Title | truncate 50 "..."}}</a>
          {{ end }}
        </div>
        <div class="next">
          {{ if .Next }}
          <a href="{{ .Next.Permalink }}?ref=footer">{{ .Next.Title | truncate 50 "..." }} »</a>
          {{ end }}
        </div>
      </div>
    </main>
    {{ partial "footer.html" }}
  </body>
</html>
