<footer>
  <div class="box">
    <div class="content index-grid">
      <div class="left">
        <p>
          <strong>Welcome to sourcehut!</strong> This suite of open source tools is
          the software development platform you've been waiting for.
        </p>
        <ul>
          <li>
            Git and Mercurial hosting, mailing lists, bug tracking, continuous
            integration, and more
          </li>
          <li>Absolutely no tracking or advertising</li>
          <li>All features work without JavaScript</li>
          <li>
            <a href="https://sr.ht/~sircmpwn/sourcehut" rel="noopener">
              100% free and open source software
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <a class="btn btn-primary" href="https://meta.sr.ht/register">
          Register for sr.ht
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/></svg>
          </span>
        </a>
        or <a href="/">
          learn more
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/></svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-links">
    <span>
      &copy; {{ dateFormat "2006" now }} sr.ht, LLC
    </span>
    <a
      href="https://man.sr.ht/privacy.md"
      rel="noopener"
    >Privacy Policy</a>
    <a
      href="https://man.sr.ht/terms.md"
      rel="noopener"
    >Terms of Use</a>
    <a
      href="/logo"
      rel="noopener"
    >Logo &amp; Media resources</a>
    <span>
      <a
        href="https://sr.ht/~sircmpwn/sourcehut/"
        rel="noopener"
      >Source Code</a>
      <small class="text-muted">(AGPL, BSD et al)</small>
    </span>
  </div>
  <blockquote>
    We are here to make free software better. We will be honest, transparent,
    and empathetic. We care for our users, and we will not exploit them, and
    we hope that they will reward our care and diligence with success.
  </blockquote>
</footer>
