<div>
  <nav>
    <span class="brand">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"/></svg>
      </span>
      <a href="/">
        sourcehut
      </a>
    </span>
    <a href="/blog">blog</a>
    <a href="/pricing">pricing</a>
    <a href="/community">community</a>
    <a href="/consultancy" class="hidden-small">hire&nbsp;free&nbsp;software&nbsp;devs</a>
    <a href="https://sr.ht" class="btn pull-right hidden-small">
      Go to sr.ht
      <span class="icon">
        {{ (resources.Get "caret-right.svg").Content | safeHTML }}
      </span>
    </a>
  </nav>
</div>
